:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

h1 {
  font-family: "Montserrat";
  text-align: center;
  color: pink;
  font-size: 40px;
}

.nav a{
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-decoration: none;
  color: #000000;
  font-family: "Montserrat";
  font-size: 15px;
  padding-right: 30px;
  color: gray;
  }

.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.cart-btn {
  position: relative;
    cursor: pointer;
    color: gray;
}

.cart-items {
  position: absolute;
  top: -11px;
  right: -11px;
  background: pink;
  padding: 0 5px;
  border-radius: 30%;
  color: white;
  font-family: "Montserrat";
}

.no-access{
display: block;
text-align: center;
padding: 100px;
color: gray;
}

/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: all 0.3s linear;
  background: rgb(255, 161, 205, 0.5);
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: white;
  z-index: 3;
  padding: 1.5rem;
  transition: all 0.3s linear;
  transform: translateX(100%);
  font-family: "Montserrat";
  color: gray;

}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
    font-family: "Montserrat";
color: gray;
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: 0.1rem;
    font-family: "Montserrat";
    color: gray;

}
.item-amount {
  text-align: center;
  color: gray;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: pink;
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  color: gray;
}

/* --------------- End of Cart ---------------- */

/* --------------- Products ---------------- */

.products {
  padding: 4rem 0;
}
.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}
.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: pink;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  transition: all 0.3s linear;
  transform: translateX(101%);
  cursor: pointer;
color: white;
}
.bag-btn:hover {
  color: white;
}
.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  background: pink;
  color: white;
  border: 1px solid pink;
  transition: all 0.3s linear;
  cursor: pointer;
}
.banner-btn:hover {
  background: transparent;
  color: pink;
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: all 0.3s linear;
}
.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
  text-align: center;
  font-family: "Montserrat";
  color: gray;

}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: 0.1rem;
  color: pink;
  text-align: center;
    font-family: "Montserrat";

}